* {
   /* background-color: rgb(184, 184, 183);*/
   background-color: #fff;
}
body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI4bPC-rB1M_oM2dDSXPPZFHxrRdnwvjW6Ug&usqp=CAU) ;
}

.card-body, h1, h2{
    background-color: #fff;
}

.card-body{
    border-radius: 20px;
}